mixin appbtn(sys, v)
  button(onclick="App.sets.other.roll('"+sys+"', '"+v[0]+"')")= v[1]
mixin svgtog(nb, fn, cid)
  .tog-selector(style!=attributes.style)
    svg(width=20 * nb, height=20)
      -
        var t = [[9, -1], [30, 0]];
        if (nb == 2) { t[0][1] = 0; t[1][1] = 1; }
        else { t.push([51, 1]); }
      each v in t
        circle.btn(
          cx=v[0], cy=10, r=5, fill='#aaa',
          onclick='App.sets.'+fn+'('+v[1]+')'
        )
      circle(id=cid, cx=((nb == 2)? 9:30), cy=10, r=8)
      if block
        block

- var fate = [[-2, 'D -2'], [-1, 'DIS'], [0, 'FATE'], [1, 'ADV'], [2, 'A +2']];
- var pbta = [['d', 'Dis'], ['n', 'PbtA'], ['a', 'Adv']];
- var recluse = [['a', 'ADV'],   ['n', 'RECLUSE'], ['d', 'DIS']];
- var tinyd6 = [['d', 'Dis'], ['n', 'Tinyd6'], ['a', 'Adv']];

- function cortexdice(){}

doctype html
html
  head(lang='en')
    title final-diceroller
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='style.css')
    script(type='text/javascript', src='bundle.js')
  body(onload='App.init()')
    svg(xmlns='http://www.w3.org/2000/svg', style='display:none')
      include ../utils/dice.pug
    #diceroller.cols
      .core
        select#the-selector(onchange='App.select()')
          option(value='classic', selected) Classic set
          option(value='other1') Recluse, Fate, Tinyd6, ZC sets
          option(value='other2') PbtA, D&amp;G sets
          option(value='other3') Cortex set
        #classic-set.set
          .dice
            each v in [4, 6, 8, 10, 12, 20]
              button(onclick='App.sets.classic.roll('+v+')')
                svg(viewbox="0 0 24 24"): use(href="#d"+v)
          .dice
            button(style='width:54px;', onclick='App.sets.classic.roll(100)')
              svg(style='width:40px', viewbox='0 0 48 24')
                use(href='#d10')
                g(transform='translate(24,0)'): use(href='#d10')
          .special
            span Special :
            input#classic-special(type='number', value=42, min=2)
            button(onclick="App.sets.classic.roll('s')") Roll
            span &nbsp;|&nbsp; Dis&nbsp;
            +svgtog(3, 'classic.advdis', 'classic-advdis')
            span &nbsp;Adv
        #other1-set.other.set
          div
            each v in recluse
              +appbtn('recluse', v)
          div
            each v in fate
              +appbtn('fate', v)
          .special
            each v in tinyd6
              +appbtn('tinyd6', v)
            span &nbsp;|&nbsp;
            +svgtog(2, 'other.tinyd6.disadv', 'other1-tinyad')
            span &nbsp;Focus
          .zc
            span ZC:&nbsp;
            div
              each v in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
                button(onclick="App.sets.other.roll('zc', "+v+")")= v
                if v == 6
                  br
        #other2-set.other.set
          div
            each v in pbta
              +appbtn('pbta', v)
          #dag
            div(style='grid-row:1 / 3') D&amp;G:
            div(style='grid-row:1 / 3') &nbsp;|&nbsp;
            div(style='grid-column:3') Comp. :
            div(style='grid-column:3') Circ. :
            +svgtog(3, 'other.dag.comp', 'other2-dagcomp'
            )(style='grid-column:4;grid-row:1')
              text#other2-dagcomp-text(x=30, y=14) 8
            +svgtog(3, 'other.dag.circ', 'other2-dagcirc'
            )(style='grid-column:4')
              text#other2-dagcirc-text(x=30, y=14) 8
            div(style='grid-column:5;grid-row:1 / 3') &nbsp;|&nbsp;
            div(style='grid-column:6;grid-row:1') Inspiration:
            +svgtog(2, 'other.dag.focus', 'other2-dagfocus'
            )(style='grid-column:7;grid-row:1')
            div(style='grid-column:6 / 8;grid-row:2')
              button(onclick="App.sets.other.roll('dag')") Roll
        #other3-set.other.set
          #cortex
            each v in [4, 6, 8, 10, 12]
              button(onclick='App.sets.cortex.dice('+v+')')
                svg(viewbox='0 0 24 24'): use(href='#d'+v)
            div What you want to roll?
            #cortex-tray
            hr
            div
              button#cortex-clear(
                style='width:50px'
                onclick='App.sets.cortex.clear()'
              ) Clear
              button#cortex-roll(onclick='App.sets.cortex.roll()') Roll
      .result
        .res-lab Result:
        #res-show
      .version version #{version}
      .flip
        button(onclick='App.flip()') See past rolls
    #history.cols
      .flip
        button(onclick='App.flip()') Back to dice
      .title Past rolls:
      #results